body{
  background: #0f2027;
  background: -webkit-linear-gradient(to right, #0f2027, #203a43, #2c5364);
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  height: 100vh;
}

#board {
  margin: 0 auto;
  display: block;
  width: 800px;
  height: 400px;
  background-color: white;
  border-radius: 20px;
  border-style: ridge;
  border-color: black;
}

.container-fluid{
  padding: 50px;
}

.buttonColours{
  margin-bottom: 10px;
  text-align: center;
}

.clear{
  margin-top: 10px;
  text-align: center;
}

@media (max-width:900px){
  #board {
    width: 600px;
  }
}

@media (max-width:800px){
  #board {
    width: 500px;
  }
}

@media (max-width:600px){
  #board {
    width: 300px;
  }
}
