extends layout

block content
  // modals
  if user
    #saveModal(class="modal fade")
      div(class="modal-dialog")
        div(class="modal-content")
          div(class="modal-header")
            h4(class="modal-title") Save
            button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;

          div(class="modal-body")
            form#save
              .form-group
                label(for='drawingName') Drawing Name* :
                input#drawingName.form-control(type='text', name='drawingName', placeholder='Name your drawing' value='MyDrawing' maxlength='15')
                small#drawingHelp.form-text.text-muted To save as a new file, choose a new unique name. Using a previous name will overwrite your old drawing.
                input#lines.form-control(type='hidden', name='lines', value='')
                br

          div(class="modal-footer")
            button(type="button" class="btn btn-default" data-dismiss="modal") Close
            button(type="button" id="saving" class="btn btn-primary") Save

    #openModal(class="modal fade")
      div(class="modal-dialog")
        div(class="modal-content")
          div(class="modal-header")
            h4(class="modal-title") Open
            button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;

          div(class="modal-body bodyOpen")

              span#drawings

          div(class="modal-footer")
            button(type="button" class="btn btn-default" data-dismiss="modal") Close




    #deleteModal(class="modal fade")
      div(class="modal-dialog")
        div(class="modal-content")
          div(class="modal-header")
            h4(class="modal-title") Delete
            button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;

          div(class="modal-body bodyDelete")

              p Delete Drawing?
              p.bold Warning: If you have saved this drawing to your account, it will also be deleted from there.

          div(class="modal-footer")
            button(type="button" class="btn btn-default" data-dismiss="modal") Cancel
            button(type="button" id="deleting" class="btn btn-danger") Delete
  else
    #saveModal(class="modal fade")
      div(class="modal-dialog")
        div(class="modal-content")
          div(class="modal-header")
            h4(class="modal-title") Please Sign in
            button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;

          div(class="modal-body")
            p Must be logged in to save

          div(class="modal-footer")
            button(type="button" class="btn btn-default" data-dismiss="modal") Close

    #openModal(class="modal fade")
      div(class="modal-dialog")
        div(class="modal-content")
          div(class="modal-header")
            h4(class="modal-title") Please sign in
            button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;

          div(class="modal-body")
              p Must be logged in to open previous drawings

          div(class="modal-footer")
            button(type="button" class="btn btn-default" data-dismiss="modal") Close

    #deleteModal(class="modal fade")
      div(class="modal-dialog")
        div(class="modal-content")
          div(class="modal-header")
            h4(class="modal-title") Delete
            button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;

          div(class="modal-body bodyDelete")

              p Delete drawing?

          div(class="modal-footer")
            button(type="button" class="btn btn-default" data-dismiss="modal") Cancel
            button(type="button" id="deleting" class="btn btn-danger") Delete


  #newModal(class="modal fade")
    div(class="modal-dialog")
      div(class="modal-content")
        div(class="modal-header")
          h4(class="modal-title") New
          button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;

        div(class="modal-body bodyNew")

            p Start new drawing? This will erase anything not saved.

        div(class="modal-footer")
          button(type="button" class="btn btn-default" data-dismiss="modal") Cancel
          button(type="button" id="newFile" class="btn btn-primary") OK

  #main.container-fluid
      .row
        .boardContainer.col-md-12(onclick='saveCoords()')
          .row
            .col-md-12.buttonColours
              button.colour.palette.btn(title='Red', data-value='red')
                i.fa.fa-square.fa-2x
              button.colour.palette.btn(title='Deep Pink', data-value='DeepPink')
                i.fa.fa-square.fa-2x
              button.colour.palette.btn(title='Salmon', data-value='salmon')
                i.fa.fa-square.fa-2x
              button.colour.palette.btn(title='Orange', data-value='orange')
                i.fa.fa-square.fa-2x
              button.colour.palette.btn(title='Yellow', data-value='yellow')
                i.fa.fa-square.fa-2x
              button.colour.palette.btn(title='Green Yellow', data-value='greenyellow')
                i.fa.fa-square.fa-2x
              button.colour.palette.btn(title='Green', data-value='green')
                i.fa.fa-square.fa-2x
              button.colour.palette.btn(title='Teal', data-value='teal')
                i.fa.fa-square.fa-2x
              button.colour.palette.btn(title='Blue', data-value='blue')
                i.fa.fa-square.fa-2x
              button.colour.palette.btn(title='Dark Blue', data-value='darkblue')
                i.fa.fa-square.fa-2x
              button.colour.palette.btn(title='Indigo', data-value='indigo')
                i.fa.fa-square.fa-2x
              button.colour.palette.btn(title='Purple', data-value='purple')
                i.fa.fa-square.fa-2x
              button.colour.palette.btn(title='Brown', data-value='brown')
                i.fa.fa-square.fa-2x
              button.colour.palette.btn(title='Black', data-value='black')
                i.fa.fa-square.fa-2x
          canvas#board(onmousemove='getCoords(event)', onmouseenter='enterBox()', onmouseleave='exitBox()')
            | Please use a newer browser
          .row
            .col-md-12.clear
              button#marker.btn.action(title='Marker', onclick="marker('marker')")
                img(src='/images/icons/icons8-ball-point-pen-50.png')
              button#pencil.btn.action(title='Pencil', onclick='pencil()')
                img(src='/images/icons/icons8-pencil-50.png')
              button#highlighter.btn.action(title='Highlighter', onclick='highlighter()')
                img(src='/images/icons/icons8-marker-pen-50.png')
              button#eraser.colour.btn.action(title='Eraser', data-value='white', onclick="marker('eraser')")
                img(src='/images/icons/icons8-erase-filled-50.png')
              button#save.btn.action(title='Save' data-toggle="modal" href="#saveModal")
                img(src='/images/icons/icons8-save-as-50.png')
              button#open.btn.action(title='Open' name="open" data-toggle="modal" href="#openModal")
                img(src='/images/icons/icons8-folder-50.png')
              if user
                button#login.btn.action(title='Logout')
                  a.btn.action(href='./login')
                    img(src='/images/icons/icons8-customer-50.png')
              else
                button#login.btn.action(title='Login')
                  a.btn.action(href='./login')
                    img(src='/images/icons/icons8-customer-50.png')
              button#new.btn.action(title='New', name="newFile" data-toggle="modal" href="#newModal")
                img(src='/images/icons/icons8-new-file-50.png')
              button#undo.btn.action(title='Undo', onclick='undo()')
                img(src='/images/icons/icons8-undo-filled-50.png')
              button#trash.btn.action(title='Delete' data-toggle="modal" href="#deleteModal")
                img(src='/images/icons/icons8-waste-50.png')
            .col-md-12
              if !user
                p.logged You are not logged in. Click the person button to login and save your drawings, or access previous ones
              else
                p.logged
                  |Logged in as 
                  span.userDeco #{user}
                  |. Click the person button to logout
