<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <script src="/javascripts/script.js"></script>
    
  </head>
  <body>
  <div class="container-fluid" id="main">
    <div class="row">
      <div class="boardContainer col-md-12" onclick="saveCoords()">
        <div class="row">
          <div class="col-md-12 buttonColours">
            <button class="colour palette btn" title="Red" data-value="red"><i class='fa fa-square fa-2x'></i></button>
            <button class="colour palette btn" title="Deep Pink" data-value="DeepPink"><i class='fa fa-square fa-2x'></i></button>
            <button class="colour palette btn" title="Salmon" data-value="salmon"><i class='fa fa-square fa-2x'></i></button>
            <button class="colour palette btn" title="Orange" data-value="orange"><i class='fa fa-square fa-2x'></i></button>
            <button class="colour palette btn" title="Yellow" data-value="yellow"><i class='fa fa-square fa-2x'></i></button>
            <button class="colour palette btn" title="Green Yellow" data-value="greenyellow"><i class='fa fa-square fa-2x'></i></button>
            <button class="colour palette btn" title="Green" data-value="green"><i class='fa fa-square fa-2x'></i></button>
            <button class="colour palette btn" title="Teal" data-value="teal"><i class='fa fa-square fa-2x'></i></button>
            <button class="colour palette btn" title="Blue" data-value="blue"><i class='fa fa-square fa-2x'></i></button>
            <button class="colour palette btn" title="Dark Blue" data-value="darkblue"><i class='fa fa-square fa-2x'></i></button>
            <button class="colour palette btn" title="Indigo" data-value="indigo"><i class='fa fa-square fa-2x'></i></button>
            <button class="colour palette btn" title="Purple" data-value="purple"><i class='fa fa-square fa-2x'></i></button>
            <button class="colour palette btn" title="Brown" data-value="brown"><i class='fa fa-square fa-2x'></i></button>
            <button class="colour palette btn" title="Black" data-value="black"><i class='fa fa-square fa-2x'></i></button>
          </div>
        </div>
        <canvas id="board" onmousemove="getCoords(event)" onmouseenter="enterBox()" onmouseleave="exitBox()">Please use a newer browser
        </canvas>
        <div class="row">
          <div class="col-md-12 clear">
            <button class="btn action" title="Marker" id="marker" onclick="marker('marker')"><img src="/images/icons/icons8-ball-point-pen-50.png"></button>
            <button class="btn action" title="Pencil" id="pencil" onclick="pencil()"><img src="/images/icons/icons8-pencil-50.png"></button>
            <button class="btn action" title="Highlighter" id="highlighter" onclick="highlighter()"><img src="/images/icons/icons8-marker-pen-50.png"></button>
            <button class="colour btn action" title="Eraser" id="eraser" data-value="white" onclick="marker('eraser')"><img src="/images/icons/icons8-erase-filled-50.png"></button>
            <button class="btn action" title="Save" id="save"><img src="/images/icons/icons8-save-as-50.png"></button>
            <button class="btn action" title="Open" id="open"><img src="/images/icons/icons8-folder-50.png"></button>
            <button class="btn action" title="Undo" id="undo" onclick="undo()"><img src="/images/icons/icons8-undo-filled-50.png"></button>
            <button class="btn action" title="Clear All" id="trash" onclick="clickedClear()"><img src="/images/icons/icons8-waste-50.png"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
