body {
  background: #0f2027;
  background: -webkit-linear-gradient(to right, #0f2027, #203a43, #2c5364);
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  height: 100vh;
}

#login{
  padding: 0;

}

a {
  margin-bottom: 0 !important;
}

.btn{
  border: 1px solid black;

}
.logged{
  color: white;
  text-align: center;
  margin-top: 5px;
}

#board {
  margin: 0 auto;
  display: block;
  width: 800px;
  height: 400px;
  background-color: white;
  border-radius: 20px;
  border-style: ridge;
  border-color: black;
}
ul{
  padding-left: 1.2em;
}

li{
  list-style-type: none;

  text-align: center;
}
li button{
  margin: 5px;
  width: 250px;
}

.bodyOpen{
  padding-right: 40px;
}

.container-fluid{
  padding: 50px;
}

.buttonColours{
  margin-bottom: 10px;
  text-align: center;
}

.clear{
  margin-top: 10px;
  text-align: center;

}

.form{
  text-align: center;
}

.formContainer {
  padding-left: 200px;
  padding-right: 200px;
}

@media (max-width:900px){
  #board {
    width: 600px;
  }
  .btn{
    margin-bottom: 3px;
  }
}

@media (max-width:800px){
  #board {
    width: 500px;
  }
  .btn{
    margin-bottom: 3px;
  }
}

@media (max-width:600px){
  #board {
    width: 300px;
  }
  .btn{
    margin-bottom: 3px;
  }

}
