html{
  min-height: 100%;

}

body {
  background: #0f2027;
  background: -webkit-linear-gradient(to right, #0f2027, #203a43, #2c5364);
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;

}

#login{
  padding: 0;

}

button a {
  margin-bottom: 0 !important;
}

.userDeco{
  color: yellow;
}

.btn{
  border: 1px solid black;

}
.logged{
  color: white;
  text-align: center;
  margin-top: 5px;
}

#board {
  margin: 0 auto;
  display: block;
  width: 800px;
  height: 400px;
  background-color: white;
  border-radius: 20px;
  border-style: ridge;
  border-color: black;
}
ul{
  padding-left: 1.2em;
}

li{
  list-style-type: none;

  text-align: center;
}
li button{
  margin: 5px;
  width: 250px;
}

.bold{
  font-weight: bold;
}

.bodyOpen{
  padding-right: 40px;
}

.container-fluid{
  padding: 50px;
}

.buttonColours{
  margin-bottom: 10px;
  text-align: center;
}

.clear{
  margin-top: 10px;
  text-align: center;

}

.form{
  text-align: center;
}

.inner{
  width: 40%;
  margin: 0 auto;
}

@media (max-width:900px){
  #board {
    width: 600px;
  }
  .btn{
    margin-bottom: 3px;
  }
}

@media (max-width:800px){
  #board {
    width: 500px;
  }
  .btn{
    margin-bottom: 3px;
  }
}

@media (max-width:600px){
  #board {
    width: 300px;
  }
  .btn{
    margin-bottom: 3px;
  }


}
@media (max-width:400px){
  #board {
    width: 200px;
  }
  .btn{
    margin-bottom: 3px;
  }
  .inner{
    width: 70%;
  }

}
